@import './variables.scss';
.title-item {
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  color: $dark-violet;
  margin-bottom: 25px;
}
.title-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $grey-violet;
  max-width: 584px;
}
.btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.833333px;
  padding: 13px 24px;
  border: none;
  border-radius: 22px;
}
.title-monthly {
  color: $base-color;
  background: $light-violet;
  box-shadow: 0px 6px 12px $shadow-btn;
  :hover {
    background: $hover-btn;
  }
}
.title-yearly {
  color: $text-btn;
  background: $base-color;
}
.active {
  background-color: $light-violet;
  color: $base-color;
  box-shadow: $shadow-btn;
}
.title-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}
.title-items div:nth-child(1) {
  margin-right: 20px;
}
.title-btn {
  display: flex;
  background: $base-color;
  border-radius: 22px;
}
@media (max-width: 900px) {
  .title-description {
    max-width: 554px;
  }
}
@media (max-width: 768px) {
  .title-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }
  .title-description {
    max-width: 100%;
    margin-bottom: 37px;
  }
}
@media (max-width: 480px) {
  .title {
    margin: 0 30px;
  }
}
@media (max-width: 420px) {
  .title-item {
    font-size: 38px;
  }
  .title-items div:nth-child(1) {
    margin-right: 0px;
  }
  .title {
    margin: 0;
  }
}
