$base-color: #f5f5fa;
$light-color: #f2dad5;
$light-violet: #bb6bd9;
$dark-violet: #231d4f;
$grey-violet: #848199;
$text-btn: #3b3472;
$shadow-btn: rgba(82, 67, 194, 0.16);
$shadow-block: rgba(255, 255, 255, 0.64);
$popular-btn: #403879;
$shadow-card: rgba(82, 67, 194, 0.295755);
$hover-btn: #a847cc;
$yearly: rgba(255, 255, 255, 0.5); ;
